p {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
h1{
  background-color: blueviolet;
  text-align: center;
  text-decoration: solid;
}
h2{
  background-color: fuchsia;
  text-align: center;
}